<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Cafeteria atendida por sus dueños, dedicada a brindar el mejor cafe especialidad de Buenos Aires">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="cafeteria, cafe, cafe especialidad,capsulas cafe, caffe, coffi, cafeteria palermo, latte macchiato, cafe tostado, dolce gusto, mocha cafe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="../css/estilo.css">   
    <title>Conocenos</title>
</head>
<body>
<!--inicio encabezado-->
<div data-aos="fade-down" class="container-fluid">
  <div class="row header">
      <section class="col-lg-4 col-xs-12 header__logo ">
          <a class="header__logo--link linkColor" href="../index.html" title="Home">
                <img src="../assets/img/logo-nav.png" class="header__logo--img" alt="Logo empresa"  >
          </a>
      </section>
      <nav class="col-lg-8 col-xs-12">
          <ul class="nav navHeader">
              <li class="nav-item">
                <a class="nav-link active linkColor" aria-current="page" href="../views/contactanos.html">Contactanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkColor" href="../views/productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkColor" href="../views/locales.html">Locales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkColor" href="../views/nosotros.html">nosotros</a>
              </li>
            </ul>
      </nav>
  </div>
</div>
<!--fin encabezado-->
<div class="container-fluid nosotros__container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
    <h1 class="titulo">Sobre Coffi.co</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12">
    <section>
        <p >Absolutamente todo lo que ofrecemos en nuestra carta esta hecho de manera especial. Nuestro café, provenientes de fincas seleccionadas, tostado por nosotros mismos y servido en bebidas calientes o frias por nuestros baristas certificados internacionalmente por la SCA (Speciality Coffee Association).</p>
        <p >Ademas, toda la carta desarrollada por nuestra Chef, mantiene la misma idea detrás: Encontramos los mejores ingredientes para realizar esas recetas que hemos soñado, preparado y perfeccionado para poder dejar lo mas rico pero tambien aquello que es unico.</p>
        <p >Estamos en cada proceso de preparacion sobrfe todo aquello que ofrecemos.</p><br>
    </section>
    <section >
        <h3>¿Que es el cafe de especialidad?</h3> <br>
        <p >Existen grandes diferencias entre el café y aquello a lo que nos dedicamos: el café de especialidad.
            El café de especialidad es todo aquel que supera los 80 puntos de catación y está libre de defectos.</p>
        <p >Para conseguir un café de especialidad todo tiene que empezar desde el momento cero: el origen del café, la selección y plantación de una variedad en particular cultivada en una región específica del mundo. Luego el grano seleccionado debe pasar por unos puntos y procesos que juntos harán que el café producido se pueda clasificar como café de especialidad. Estos procesos tienen que ver con el tostado artesanal y la preparación en manos de baristas especializados.</p>
        <p >El resultado: aroma, sabor, personalidad y carácter distintivo que transforman el paladar del consumidor.</p>
    </section>
    </div>
  </div>  
</div>   
<!--inicio footer-->
<div class="container-fluid">
  <footer class="row">
      <div class="col-xs-12 col-lg-4 footer__copy">
        <p >@Copyright 2021 All rights reserved</p>  
      </div>        
      <div class="col-xs-12 col-lg-4 footer__redes ">
          <ul class=" footer__redes--lista" >
              <li><a href="https://www.instagram.com" class="fa fa-instagram linkColor"></a></li>
              <li><a href="http://www.facebook.com" class="fa fa-facebook linkColor"></a></li>
              <li><a href="https://twitter.com" class="fa fa-twitter linkColor"></a></li>
          </ul>
      </div>  
      <div class="col-xs-12 col-lg-4 footer__correo">
        <a class="linkColor" href="mailto:ejemplo@mail.com">contacto@gmail.com</a>
      </div>
  </footer>
</div>
<!--fin footer-->
</div>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>   
</body>
</html>
