<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Cafeteria atendida por sus dueños, dedicada a brindar el mejor cafe especialidad de Buenos Aires">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="cafeteria, cafe, cafe especialidad,capsulas cafe, caffe, coffi, cafeteria palermo, latte macchiato, cafe tostado, dolce gusto, mocha cafe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/estilo.css">   
    <title>Nuestros Cafes</title>
</head>
<body>
<!--inicio encabezado-->
<div data-aos="fade-down" class="container-fluid">
  <div class="row header">
      <section class="col-lg-4 col-xs-12 header__logo ">
          <a class="header__logo--link linkColor" href="../index.html" title="Home">
                <img src="../assets/img/logo-nav.png" class="header__logo--img" alt="Logo empresa"  >
          </a>
      </section>
      <nav class="col-lg-8 col-xs-12">
          <ul class="nav navHeader">
              <li class="nav-item">
                <a class="nav-link active linkColor" aria-current="page" href="../views/contactanos.html">Contactanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkColor" href="../views/productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkColor" href="../views/locales.html">Locales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkColor" href="../views/nosotros.html">nosotros</a>
              </li>
            </ul>
      </nav>
  </div>
</div>
<!--fin encabezado-->
<div class="container-fluid productos__container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <video src="../assets/video/presentacion-inicio.mp4" autoplay loop controls muted></video>
    </div>
  </div>
</div>  
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <img data-aos="zoom-in-up" class="img-fluid" src="../assets/img/cafe-colombia.jpg" alt="">
      <img data-aos="zoom-in-up" class="img-fluid" src="../assets/img/cafe-costarica.jpg" alt="">
      <img data-aos="zoom-in-up" class="img-fluid" src="../assets/img/cafe-honduras.jpg" alt="">
      <img data-aos="zoom-in-up" class="img-fluid" src="../assets/img/cafe-nicaragua.jpg" alt="">
      <img data-aos="zoom-in-up" class="img-fluid" src="../assets/img/cafe-kenia.jpg" alt="">
    </div>
  </div>
</div>
<!--inicio footer-->
<div class="container-fluid">
  <footer class="row">
      <div class="col-xs-12 col-lg-4 footer__copy">
        <p >@Copyright 2021 All rights reserved</p>  
      </div>        
      <div class="col-xs-12 col-lg-4 footer__redes ">
          <ul class=" footer__redes--lista" >
              <li><a href="https://www.instagram.com" class="fa fa-instagram linkColor"></a></li>
              <li><a href="http://www.facebook.com" class="fa fa-facebook linkColor"></a></li>
              <li><a href="https://twitter.com" class="fa fa-twitter linkColor"></a></li>
          </ul>
      </div>  
      <div class="col-xs-12 col-lg-4 footer__correo">
        <a class="linkColor" href="mailto:ejemplo@mail.com">contacto@gmail.com</a>
      </div>
  </footer>
</div>
<!--fin footer-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
